In [2]:
import pandas as pd

In [3]:
ds = pd.Series([1, 2, 3])

ds.loc["History"] = 104

print(ds)

0            1
1            2
2            3
History    104
dtype: int64

In [4]:
students_classes = pd.Series({'Alice': 'Physics',
                   'Jack': 'Chemistry',
                   'Molly': 'English',
                   'Sam': 'History'})
print(students_classes)

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [5]:
kelly_classes = pd.Series(['Philosophy', 'Arts', 'Math'], index=['Kelly', 'Kelly', 'Kelly'])
print(kelly_classes)

Kelly    Philosophy
Kelly          Arts
Kelly          Math
dtype: object

In [6]:
allStudClasses = pd.concat([students_classes, kelly_classes])

print(allStudClasses)

Alice       Physics
Jack      Chemistry
Molly       English
Sam         History
Kelly    Philosophy
Kelly          Arts
Kelly          Math
dtype: object

In [7]:
print(students_classes)

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [8]:
print(allStudClasses.loc["Kelly"])

Kelly    Philosophy
Kelly          Arts
Kelly          Math
dtype: object